<nav class="navbar navbar-expand-sm   border-bottom sticky-top  fw-semibold ">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="/listings"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
       
        <a class="nav-link fw-medium ms-2" href="/listing">Explore</a>
       
        
      </div>

      <div class='navbar-nav ms-auto'>
         <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
      <button class="btn btn-outline-danger" type="submit">Search</button>
    </form>
      </div >
      <div class="navbar-nav ms-auto">
         <a class="nav-link fw-medium" href="/listing/new">Add New Listing</a>
         <a class="nav-link fw-medium" href="/listing/service">Service</a>
      <% if(!currentUser){ %>
        <a class="nav-link" href="/login">Log in</a>
     <% }else{%>
      <a class="nav-link" href="/logout">Log out</a>
     <%}%>
        
        
      </div>
    </div>
  </div>
</nav>