body{
    font-family: 'Plus Jakarta Sans',
    sans-serif !important;
    min-height : 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    flex: 1;
}
.navbar{
    height : 5rem;
    /* background-color:#3b82f6 */
    background: rgba(255, 255, 255, 0.8); backdrop-filter: blur(10px);
    /* background-color: violet; */
}
.fa-compass{
    color : #fe424d;
    font-size : 2.5rem;
}
.nav-link{
    color : #222222 !important;
}
.info-links a{
    text-decoration: none;
    color: #222222 ;
}
.info-links a:hover{
    text-decoration-line: underline;
}
.info{
    display : flex;
    height : 6rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;;
    align-items: center;
}
.info-links{
    width : 100%;
    display : flex;
    justify-content: center;
    column-gap: 4rem;
    align-items: center;
}
.info-socials{
    width : 100%;
    display : flex;
    justify-content: center;
    column-gap: 2rem;
    align-items: center;
    font-size :1.5rem;
}

.card{
    border : none !important;
    margin-bottom: 2rem ;
}
.card-img-top{
    border-radius: 1rem !important;
    width :100%;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p {
    font-weight: 400;
}
.listing-link{
    text-decoration: none;;
}
 

